.push
footer.l-footer
    .l-footer__container
        .l-footer__item Этот сайт я сделал в рамках обучения в Школе
            br
            |онлайн образования LoftSchool.
        .l-footer__item
            ul.c-nav_footer
                li.c-nav_footer__item
                    a.c-nav_footer__link(href="#") Мои работы
                li.c-nav_footer__item
                    a.c-nav_footer__link(href="#") Обо мне
                li.c-nav_footer__item
                    a.c-nav_footer__link(href="#") Блог
                li.c-nav_footer__item
                    a.c-nav_footer__link(href="#") Авторизация
            ul.socials.socials_footer
                li.social__item
                    a(href="#").social__link
                        svg.social__icon
                            use(xlink:href="/assets/img/sprite.svg#vk")
                li.social__item
                    a(href="#").social__link
                        svg.social__icon
                            use(xlink:href="/assets/img/sprite.svg#github")
                li.social__item
                    a(href="#").social__link
                        svg.social__icon
                            use(xlink:href="/assets/img/sprite.svg#in")

        .l-footer__item
            ul.c-footer__contacts
                li skype_kdn
                li astahov@gmail.com
                li +7 931 200 93 24
                li г. Новосибирск, ул. Инская, д.4
    .l-footer__down © Владимир Астахов | Создано с любовью в LoftSchool | 2016


