footer.l-footer
    .l-footer__container
        .l-footer__item Этот сайт я сделала в рамках обучения в Школе
            br
            |онлайн образования LoftSchool.
        .l-footer__item
            ul.c-nav_footer
                -
                    var navItems = siteNav
                each item in siteNav
                    li.c-nav_footer__item
                        a.c-nav_footer__link(href="/" + `${item[1]}` +".html")= item[0]

            +socialIcons("socials_footer")

        .l-footer__item
            ul.c-footer__contacts
                - var contacts = userContacts
                each contact in contacts
                    li= contact
    .l-footer__down © #{userName} | © Создано с любовью в LoftSchool | 2017



