mixin user(title, desc)
    .c-user(style="background-image: url(/assets/img/decor/strars1.png)")
        .c-user__pic-container
            img.c-user__pic(src="/assets/img/content/user.jpg")
        .c-user__name= title
        .c-user__desc= desc

mixin header(userTitle, userDesc)
    .l-hero__bg
        //img(src="/assets/img/bg/portfolio.jpg")
    .l-hero__container

    +user(userTitle, userDesc)

    +socialIcons()

    ul.socials.socials_nav-page
        li.social__item
            a(href="#").social__link
                svg.social__icon
                    use(xlink:href="/assets/img/sprite.svg#hamburger")


