.l-about {
  @extend %clearfix;
  display: flex;
}

.l-about__col {
  @extend %float50;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;

  &_left {
    background: $white;
    @extend %clearfix;

    .l-about__triangle {
      left: 0;
      fill: $white;
    }
  }

  &_right {
    background: $bej;

    .l-about__triangle {
      right: 0;
      fill: $bej;
    }
  }
}

.l-about__triangle {
  display: block;
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 100%;
}

.l-about-col__item {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  //margin-right: 20px;
  //margin-left: 20px;

  box-sizing: border-box;

  @include desctop {
    float: none;
    width: 445px;
    margin: auto;
  }
}

.l-about-col__item_left {
  width: calc(100% - 485px - 40px);
}

.l-about-col__item_right {
  width: 445px;
}

.c-about__pic-cotainer {
  height: 390px;
  overflow: hidden;
  margin-bottom: 32px;

  @include desctop {
    margin-bottom: 30px;
  }
}
