.l-about {
  @extend %clearfix;
}

.l-about__col {
  @extend %float50;
  padding: 20px;
  box-sizing: border-box;
  position: relative;

  &_left {
    background: $white;
    @extend %clearfix;

    .l-about__triangle {
      left: 0;
      fill: $white;
    }
  }

  &_right {
    background: $bej;

    .l-about__triangle {
      right: 0;
      fill: $bej;
    }
  }
}

.l-about__triangle {
  display: block;
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 100%;
}

.l-about-col__item {
  @extend %float50;
  box-sizing: border-box;
}

.c-about__pic-cotainer {
  height: 390px;
  overflow: hidden;
  margin-bottom: 40px;
}
