.c-nav_block-info {
  margin-left: -65px;
  margin-right: -65px;
  display: flex;
}

.c-nav_block-info__item {
  border-right: 1px solid white;
  flex: 1;

  &:last-child {
    border-right: none;
  }
}

.c-nav_block-info__item_0 {
  flex: 1.5;
}

.c-nav_block-info__item_1 {
  flex: 1.3;
}

.c-nav_block-info__item_2 {
  flex: 1;
}

.c-nav_block-info__link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 0;
  text-align: center;
  background: $blue;
  
  &:hover {
    background: $lightBlue;
  }
}