.c-block-info-container {
  position: relative;
}

.c-block-info {
  text-align: center;
  background: rgba($fonBlack, .5);
  padding: 40px 65px 0;

  @include phone {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#back {
  height: 411px;
}

.flip-container {
  perspective: 1000;
  transform-style: preserve-3d;
}

.flip-container.flip-container_back  {
  .flipper {
  }

  #front {
    transform: rotateY(180deg);
  }

  #back {
    transform: rotateY(0deg);
  }
}

.flip-container {
  @include centered();
  width: 550px;
  height: 411px;


  @include laptop {
    width: 500px;
  }

  @include tablet {
    width: 90%;
  }
}

.flip-container.static {
  position: static;
  margin: auto;
  height: auto;
  transform: none;
  margin-bottom: 200px;

  .c-bloch-height {
    height: 411px;
  }
}

.flipper {
  box-sizing: border-box;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;

  .c-user {
    padding: 0;
  }
}

#front, #back {
  backface-visibility: hidden;
  transition: .6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#front {
  z-index: 2;
  transform: rotateY(0deg);
}

#back {
  transform: rotateY(180deg);
}