.c-block-title {
  @extend  %fontTitle;
  color: $textBlack;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include desctop {
    margin-bottom: 15px;
  }

  @include laptop{
    font-size: 30px;
  }

  @include tablet {
    font-size: 21px;
  }

  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    margin: auto;
    background: rgba($textBlack, 0.5);
    margin-top: 15px;

    @include desctop {
      margin-top: 0;
    }

    @include laptop {
      margin-top: 10px;
    }


  }
}

.c-block-text {
  color: $textBlack;
  font-size: 16px;

  @include tablet {
    width: 95%;
    margin: auto;
  }
}

.c-block-text_blue {
  color: rgba($blue, 0.85);
  margin-bottom: 88px;
}

.c-block-link_to-avtor {
  display: inline-block;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  
  &:hover{
    background: $blue;
    border-color: $blue;
  }
}

.c-block-link_blue {
  background: $lightBlue;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  color: rgba(white, 0.5);
  font-size: 16px;
  vertical-align: middle;

  &:hover {
    color: rgba(white, 1);

    .c-block-link__pic {
      fill: rgba(white, 1);
    }
  }
}


.c-block-link__icon {
  display: inline-block;
  width: 20px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;

}

.c-block-link__pic {
  width: 20px;
  height: 20px;
  fill: rgba(white, 0.5);
  vertical-align: middle;
}

.c-block-arrow {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0px;
    color: red;
    vertical-align: middle;
  }

  &:hover {
    .c-block-arrow__pic {
      fill: rgba(white, 1);
    }
  }
}

.c-block-arrow__pic {
  width: 45px;
  height: 30px;
  fill: rgba(white, .5);
  vertical-align: middle;
}

.c-block-title_white {
  color: white;
}

.c-block-bg {
  position: absolute;
  top: 0;
  bottom: -190px;
  right: 0;
  left: 0;
  z-index: -1;

  @include laptop {
    bottom: -275px;
  }

  @include tablet {
    bottom: -518px;
  }
}

.c-block-bg_map {
  position: static;
  height: 496px;
}

.c-block-bg_pic {
  min-width: 100%;
}


