.l-block-main {
  background: $white;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.l-block-main__container   {
  margin: auto;
  width: 1280px;
  display: flex;

  @include desctop {
    width: 1180px;
  }

  @include laptop {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }
}


.l-block-main_content {
  flex: 3;

  @include laptop {
    flex: 1;
  }
}