.c-block-info-container {
  position: relative;
}
.c-block-info {
  text-align: center;
  width: 400px;
  background: rgba($fonBlack, .5);
  padding: 40px 65px 0;
  @include centered();

  @include tablet {
    width: 70%;
    margin: auto;
  }
}