.c-block-title {
  @extend  %fontTitle;
  color: $textBlack;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;

  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    margin: auto;
    background: rgba($textBlack, 0.5);
    margin-top: 15px;
  }
}