.c-block-info-container {
  position: relative;
}

.c-block-info {
  text-align: center;
  width: 550px;
  box-sizing: border-box;
  background: rgba($fonBlack, .5);
  padding: 40px 68px 0;
  @include centered();

  @include laptop {
    width: 350px;
  }

  @include tablet {
    width: 90%;
  }

  .c-user {
    padding: 0;
  }
}