.l-footer {
  background: rgba($fonBlack, .85);
  color: rgba(white, 0.5);
  font-size: 16px;


}

.l-footer__container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: -30px;
  margin-right: -30px;
  @include laptop {
    flex-wrap: wrap;
  }
}

.l-footer__item {
  width: calc(100%/3 - 60px);
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgba(white, 0.5);
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  &:after{
    content: '';
    height: 90px;
    width: 1px;
    display: block;
    background: rgba(white, .2);
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -45px;
  }

  &:last-child:after {
    width: 0;
  }


  @include laptop {
    width: calc(50% - 60px);

    &:after {
      display: none;
    }
  }

  @include tablet {
    width: 100%;
    text-align: center;
  }
}

.l-footer__item_first {
  @include laptop {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(white, .2);
  }
}

.l-footer__item_center {
  @include tablet {
    border-bottom: 1px solid rgba(white, .2);
  }

}

.l-footer__item_last {
  @include laptop {
    text-align: right;
  }

  @include tablet {
    text-align: center;
  }

}

.l-footer__down {
  background: rgba($blue, 0.85);
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.c-nav_footer {
  margin-bottom: 27px;
}

.c-nav_footer__item {
  display: inline-block;
  margin-right: 40px;
  font-weight: bold;

  @include desctop {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }

}

.c-nav_footer__link {
  text-decoration: none;
  color: rgba(white, 0.5);

  &:hover {
    color: white;
  }
}

.l-footer  .socials_footer {
 position: static;

  .social__icon {
      fill: rgba(white, 0.2)
  }
}