.c-form-container {
  width: 380px;
  margin: auto;
  padding: 40px 20px 0;
  position: relative;

  @include phone {
    width: auto;
  }
}

.c-form {
  position: relative;
}

.c-form-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/assets/img/bg/bg_work.jpg") no-repeat;
  filter: blur(10px);

  @include tablet {
    width: 100%;
  }
}

.c-form__input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  background: rgba(white, .1);
  padding: 16px;
  box-sizing: border-box;
  color: white;

  ::-webkit-input-placeholder {
    color: rgba(white, .5);
    font-size: 16px;
  }

}

.c-form__input_textarea {
  height: 130px;
}

.c-form__button-container {
  margin-right: -20px;
  margin-left: -20px;
  overflow: hidden;
}

.c-form__buttom-item {
  display: inline-block;
  width: 50%;
  margin: 0;
  margin-right: -4px;
  padding: 15px;
  color: rgba(white, .5);
  background: none;
  border: none;

  &:hover {
    background: $lightBlue;
    color: white;
  }

  &:last-child {
    margin-right: 0;
  }
}