.l-hero {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.l-hero__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $nightSky;
  transform: translateZ(-50px) scale(1.5);
}

.l-hero__bg-item {
  position: absolute;
  top: 0;
  left: 0;
}

.l-hero__bg-item_pic {
  top: 50%;
  margin-top: -1000px;
}

.l-hero__container {
  @include centered(y);
  width: 100%;
}

.c-hero-title-pic {
  fill: none;
  stroke: rgba(#fff, 0.05);
  stroke-width: 2px;
  position: absolute;
  @include centered();
}

.l-header-index {
  padding: 24px 100px;
  text-align: right;

  @include desctop {
    padding: 24px;
  }

  @include tablet {
    text-align: center;
  }
}