.l-hero {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.l-hero__bg {
  @include centered();
  width: 100%;
}

.l-hero__container {
  @include centered(y);
  width: 100%;
}

.c-hero-title-pic {
  fill: none;
  stroke: rgba(#fff, 0.05);
  stroke-width: 2px;
  position: absolute;
  @include centered();
}

.l-header-index {
  padding: 24px 100px;
  text-align: right;

  @include desctop {
    padding: 24px;
  }

  @include tablet {
    text-align: center;
  }
}