.l-map {
  height: 930px;
  background-size: cover;
  position: relative;
  display: flex;

  @include tablet {
    flex-direction: column-reverse;
    height: auto;
  }
}

.c-contacts {
  @include centered();
  background: rgba(white, .9);
  padding: 40px 20px;
  width: 580px;

  @include laptop {
    width: 348px;
  }

  @include tablet {
    position: static;
    transform: none;
    width: 100%;
  }
}

.c-contacts__container {
  display: flex;
  flex-wrap: wrap;
}

.c-contacts__item {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @include laptop {
    width: 100%;
  }
}

.c-contacts_col {
  display: inline-block;
}

.c-contacts__icon {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  fill: $lightBlue;
}

.c-contacts__title {
  font-size: 16px;
  color: $textBlack;
  //min-height: 45px;
  vertical-align: middle;
  width: 75%;
}