.menu {
  background-color: $bej;
}
.menu__container {
  padding: 0;

}

.menu__row {
  display: inline-block;
  list-style-type: none;
  transition: all 1s;
  background-color: $bej;
  border-right: 1px solid white;
  &:hover {
    background-color: $white;

  }
  &:last-child {
    border-right: none;
  }

  &.active {
    background-color: $white;

    .menu__link {
      color: $blue;
    }
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  font: 25px 'Arial', sans-serif;
  color: #353838;
  transition: all 1s;
  padding: 20px 40px;
  &:hover {
    color: $blue;
  }
}