@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.c-mouse-parallax {
  background: $nightSky;
}

.c-bg{
  position: absolute;
  top: -5%;
  left: -5%;
  right: -5%;
  bottom: -5%;
}

.c-bg_stars {
  background:#152c55 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-30;
}

.c-bg_twinkling {
  background:transparent url('/assets/img/decor/twinkling.png') repeat top center;
  z-index:-20;
  animation:move-twink-back 200s linear infinite;
}

.c-bg_clouds {
  background:transparent url('/assets/img/decor/clouds.png') repeat top center;
  z-index:-10;
  animation:move-clouds-back 200s linear infinite;
  opacity: 0.08;
}

.c-mouse-parallax__item_pic {
  width: 120%;
  position: absolute;
  left: -10%;
  right: -10%;
  bottom: -10%;
  top: auto;
}