.nav-site {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  background: rgba($darkBlue, 0.9);
  padding-top: 250px;
  text-align: center;
  display: none;
}

.nav-site_active {
  display: block;
}

.c-block-close {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.c-block-close__pic {
  height: 25px;
  width: 35px;
  fill: white;
}

.c-block-close:hover {
  .c-block-close__pic {
    //fill: $lightBlue;
  }
}

.nav-site__link {
  @extend %fontTitle;
  display: block;
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px 0;

  &:hover {
    &:after {
      content: '';
      display: block;
      margin: auto;
      width: 90px;
      height: 3px;
      background: white;
      margin-bottom: -3px;
    }
  }
}

.nav-site__link_active {
  &:after {
    display: block;
    width: 90px;
    height: 3px;
    background: white;
    margin-bottom: -3px;
  }
}