.c-nav_site-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;

  padding-top: 250px;
  text-align: center;
  display: none;

  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba($darkBlue, 0.9);
    animation: menu-blind 500ms linear;
    animation-fill-mode: forwards;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

@keyframes menu-blind {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

.c-nav_site_active {
  display: block;
  opacity: 1;
}



.c-nav_site__link {
  @extend %fontTitle;
  display: block;
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px 0;

  &:hover {
    &:after {
      content: '';
      display: block;
      margin: auto;
      width: 90px;
      height: 3px;
      background: white;
      margin-bottom: -3px;
    }
  }
}

.c-nav_site__link_active {
  &:after {
    content: '';
    display: block;
    margin: auto;
    width: 90px;
    height: 3px;
    background: white;
    margin-bottom: -3px;
  }
}