.l-hero_work {
  position: relative;
  padding-bottom: 180px;

  .c-section-title {
    color: white;
    position: absolute;
    bottom: 10px;
    @include centered(x);
  }
}
.c-page-title {
  height: 340px;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.c-page-title__bg {
  height: 100%;
}

.c-page-title__pic {
  width: 100%;
  height: 100%;
  fill: rgba($fonBlack, .85);
}

.c-page-title_blog {
  height: 170px;
}

.c-page-title_blog__pic {
  fill: $white;
}