.l-page-nav_aside__protractor {
  display: none;
}

.l-page-nav_aside {
  flex: 1;
  margin-right: 117px;
  position: relative;

  @include desctop {
    margin-right: 100px;
  }

  @include laptop {
    position: fixed;
    width: 35%;
    background: $nightSky;
    top: 0;
    bottom: 0;
    color: white;
    padding-left: 30px;
    margin: 0;
    left: -37%;
    z-index: 10;
    transition: left 1s ease-out;

    .l-page-nav_aside__protractor {
      position: absolute;
      height: 80px;
      width: 80px;
      background: $nightSky;
      border-radius: 50%;
      cursor: pointer;
      right: -40px;
      top: 50%;
      margin-top: -20px;
      display: block;
    }
  }

  @include tablet {
    left: -37%;
  }

  @include phone {
    left: -40%;
  }
}

.l-page-nav_aside.l-page-nav_active {
  left: 0;

  @include tablet {
    width: 50%;
  }

  @include phone {
    width: 80%;
  }
}


.l-page-nav__list {
  position: absolute;
  top: 0;
  left: 0;

  @include laptop {
    top: 40px;
    left: 30px;
    right: 50px;
  }
}

.l-page-nav__link {
  color: $textGray;
  text-decoration: none;
  display: block;
  padding: 20px 20px 20px 0;
  text-align: right;
  font-size: 16px;
  line-height: 26px;
  
  @include laptop {
    color: white;
    opacity: 0.4;
  }
}

.l-page-nav__link.l-page-nav__link_active {
  color: $blue;
  position: relative;

  &:after {
    content: '';
    display: block;
    background-color:  #0548be;
    width: 3px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 0;
  }

  @include laptop {
    color: white;
    opacity: 1;
    
    &:after {
      background-color: #fff;
    }
  }
}