.preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($darkBlue, 1);
}

.preloder__percentages-container {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.preloader__cercles {
  fill: none;
  stroke-width: 3;
}

.preloader__cercle-percentages {
  stroke: white;
  stroke-dasharray: .001 150.79644737231007;
  transition: stroke-dasharray 3s ease 0s;
}

.preloader__cercles:hover {
  .preloader__cercle-percentages {
    stroke-dasharray: 150.79644737231007 150.79644737231007;
  }
}

.preloder__percentages {
  @include centered();
}

.preloader__cercle-runner  {
  position: absolute;
  left: 21px;
  top: 21px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: white;
  transform:rotate(45deg) translateX(29px);
  animation: orbit2 1.5s linear infinite;
}

@keyframes orbit2 {
  from {  -webkit-transform: rotate(0deg) translateX(29px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(29px) rotate(-360deg); }
}
