.c-section-title {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  color:  $textBlack;
  font-size: 63px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding: 45px 60px;
  display: inline-block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @extend %fontTitle;
  text-transform: uppercase;

  @include desctop {
    padding: 34px 80px;
  }

  @include laptop {
    font-size: 48px;
    padding: 20px 80px;
  }
  @include tablet {
    font-size: 30px;
  }

}

.c-section-title__bg {
  width: 100%;
  @include centered();
  //position: absolute;
  fill: rgba(white, .05);
  max-width: 100%;
  max-height: 100%;
}

.c-section-title__content {
  position: relative;
}

.c-section-title_col {
  margin-top: -45px;
  position: relative;

  @include laptop {
    margin-top: -15px;
  }
}



