.c-section-title {
  color:  $textBlack;
  font-size: 63px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding: 45px 60px;
  display: inline-block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @extend %fontTitle;
  text-transform: uppercase;
  position: relative;

  @include desctop {
    padding: 34px 80px;
  }

  @include laptop {
    font-size: 48px;
    padding: 20px 80px;
  }
  @include tablet {
    font-size: 30px;
  }

}

.c-section-title__bg {
  transform: rotate(13deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.6;

  @include tablet {
    display: none;
  }
}

.c-section-title__content {
  position: relative;
}

.c-section-title_col {
  margin-top: -45px;
  position: relative;

  @include laptop {
    margin-top: -15px;
  }
}



