.c-section-title {
  color:  $textBlack;
  font-size: 63px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding: 45px 80px;
  display: inline-block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @extend %fontTitle;
  text-transform: uppercase;
}

.c-block-text {
  color: $textBlack;
  font-size: 16px;
}

