.l-skills {
  width: 515px;
  margin: auto;
}

.l-skills__text {
  color: $textBlack;
  font-size: 16px;
}

.l-skills-group__item {
  @extend %clearfix;
  margin-bottom: 40px;
}

.c-skills-group__title {
  color: $textBlack;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.c-skill {
  position: relative;
  float: left;
  width: percentage(1 / 6);
}

.c-skill__circle {
  width: 110px;
  height: 110px;
  display: block;
  fill: transparent;
  stroke-width: 20;
  stroke: red;
  margin:auto;
}

.c-skills__circle-under {
  stroke: #dfdcd5;
}

.c-skills__circle-above {
  stroke: #004cd1;
  stroke-dasharray: mySection($radiusCircle, 0.93) myCircumference($radiusCircle);
}

//$circleClasses : (93, 9, 4, 55, 35, 6, 75);
//
//@each $circleClass in (93, 9, 4, 55, 35, 6, 75) {
//  .c-skills__circle-above_#{$circleClass} {
//    $i : $i * #{$circleClass};
//    stroke-dasharray: mySection($radiusCircle, $i) myCircumference($radiusCircle);
//    stroke: $lightBlue;
//  }
//}

.c-skills__circle-above_35 {
      stroke-dasharray: mySection($radiusCircle, .35) myCircumference($radiusCircle);
      stroke: rgba($lightBlue, .35);
    }
.c-skills__circle-above_4 {
  stroke-dasharray: mySection($radiusCircle, .4) myCircumference($radiusCircle);
  stroke: rgba($lightBlue, .4);
}
.c-skills__circle-above_55 {
  stroke-dasharray: mySection($radiusCircle, .55) myCircumference($radiusCircle);
  stroke: rgba($lightBlue, .55);
}
.c-skills__circle-above_6 {
  stroke-dasharray: mySection($radiusCircle, .6) myCircumference($radiusCircle);
  stroke: rgba($lightBlue, .6);
}
.c-skills__circle-above_75 {
  stroke-dasharray: mySection($radiusCircle, .75) myCircumference($radiusCircle);
  stroke: rgba($lightBlue, .75);
}
.c-skills__circle-above_9 {
  stroke-dasharray: mySection($radiusCircle, .9) myCircumference($radiusCircle);
  stroke: rgba($lightBlue, .9);
}
.c-skills__circle-above_93 {
  stroke-dasharray: mySection($radiusCircle, .93) myCircumference($radiusCircle);
  stroke: rgba($lightBlue, .93);
}



.c-skill__title {
  @include centered();
  font-size: 14px;
  color: #243994;
  max-width: 65px;
  text-align: center;
}