.l-skills {
  margin-right: 35px;
  margin-left: 35px;

  @include desctop {
    width: 515px;
    margin: auto;
  }

  @include laptop {
    width: 515px;
  }

  @include tablet {
    width: 95%;
    margin: auto;
  }
}

.l-skills__text {
  color: $textBlack;
  font-size: 16px;
  margin-bottom: 40px;

  @include desctop {
    margin-bottom: 50px;
  }
}

.l-skills-group__item {
  @extend %clearfix;
  margin-bottom: 40px;
}

.c-skills-group__title {
  color: $textBlack;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  
  @include laptop {
    text-align: center;
    font-size: 20px;
  }
}

.l-skils-list {
  display: flex;
  flex-wrap: wrap;

  @include laptop {
    justify-content: space-around;
  }
}

.l-skills-list_item {
  position: relative;
  width: percentage(1 / 6);


  @include desctop {
    width: percentage(1 / 4);
  }

  @include tablet {
    width: 50%;
    margin-bottom: 30px;
  }
}

.c-skill__circle {
  width: 110px;
  height: 110px;
  display: block;
  fill: transparent;
  stroke-width: 20;
  //stroke: red;
  margin:auto;
}

.c-skills__circle-under {
  stroke: #dfdcd5;
}

@for $i from 0 to 100 {
  .c-skills__circle-above_#{$i + 1} {
    stroke-dasharray: mySection($radiusCircle, ($i+1)/100) myCircumference($radiusCircle);
    stroke: rgba($lightBlue, ($i+1)/100);
    transition: all 2s;
  }
}

.c-skills__circle-above_no {
  stroke: rgba(#004cd1, 0.001);
  stroke-dasharray: mySection($radiusCircle, 0.001) myCircumference($radiusCircle);
}

.c-skill__title {
  @include centered();
  font-size: 14px;
  color: #243994;
  max-width: 65px;
  text-align: center;
}