.l-slider {
  height: 750px;

  @include laptop {
    height: auto;
  }
}

.l-slider__container, .l-slider__arrows {

}

.l-slider__item, .l-slider__arrows-item {
}



.l-slider__container, .l-slider__item {
  height: 100%;

  @include laptop {
    height: auto;
  }
}

.l-slider__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include laptop {
    flex-direction: row;
    height: auto;
  }
}

.l-slider__item_left {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  background: $white;

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0px;
    background: red;
    vertical-align: middle;
  }

  @include laptop {
    padding: 45px 0 60px;
    width: 100%;
    order: 2;
  }
}

.l-slider__pic-wrapper {
  height: 70%;
  position: relative;
  background: $bej;
  width: 50%;



  @include laptop {
    width: 100%;
    order: 1;
    height: 768px;
  }

  @include tablet {
    height: 258px;
  }
}

.l-slider__pic-wrapper.l-slider__pic-wrapper_transform {
  .l-slider__pic {
    opacity: 0;
  }
}

.l-slider__pic, .l-slider__arrow-pic {
  @include centered();

  @include tablet {
    height: auto;
    width: 100%;
  }
}

.l-slider__pic {
  opacity: 1;
  transition: opacity 0.25s ease-out;
  max-width: 90%;
  max-height: 90%;

  @include tablet {
    height: 100%;
    width: auto;
  }
}

.l-slider__arrows {
  position: relative;
  height: 30%;
  display: flex;
  @include laptop {
    height: 225px;
    width: 100%;
    order: 3;
  }

}

.c-block-arrows-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.l-slider__arrows-item {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
  transition: 1s;
  z-index: -10;
}

.l-slider__arrows-next, .l-slider__arrows-prev {
  top: 0;
  left: 0;
}

.l-slider__arrows-next {
  right: 0;
  left: auto;
}

.l-slider__arrows-next-next {
  top: -225px;
  right: 0;
  left: auto;
}

.l-slider__arrows-prev-prev {
  top: 225px;
}

.l-slider__arrow-pic {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.l-slider__wrapper {
  display: inline-block;
  width: 320px;
  margin: auto;
  vertical-align: middle;
}

.l-slider__item_right {
  width: 50%;
}

.l-slider__arrow-dark {
  background: rgba($fonBlack, .7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.l-slider__arrows-down {
  background: $white;
}

#slide-items.l-slider__arrows_transform {
  .l-slider__arrows-down {
    transform: translateY(-225px);
  }

  .l-slider__arrows-up {
    transform: translateY(225px);
  }
}
