.socials {
  top: 30px;
  left: 30px;
  position: absolute;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  padding-right: 30px;

  &:last-child {
    padding-right: 0;
  }
}

.social__icon {
  width: 35px;
  height: 25px;
  fill: white;

  @include tablet {
    width: 24px;
    height: 17px;
  }
}

.social__link:hover {
  .social__icon {
    fill: $lightBlue;
  }
}

.socials_index {
  position: static;
  margin-bottom: 40px;

  .social__icon {
    height: 26px;
    width: 31px;
    fill: $blue;
  }

  .social__link:hover {
    .social__icon {
      fill: $lightBlue;
    }
  }

}

.socials_nav-page{
  left: initial;
  right: 30px;
}

