//var
//colors
$white:#f1efe7;
$bej: #e9e7e1;
$textBlack: #474b57;
$lightBlue: #004cd1;

//size
$radiusCircle: 45;


@import "helpers/mixins";
@import "helpers/functions";

@import 'layout/setups';
@import 'layout/fonts';

@import 'blocks/**/*.scss';
