//var
//colors
$white:#f2f0e8;
$bej: #e3e2de;
$textBlack: #474b57;
$textGray: #455a64;
$blue: #083c96;
$lightBlue: #004cd1;
$fonBlack: #1c1f29;
$green: #009688;

//size
$radiusCircle: 45;


@import "helpers/mixins";
@import "helpers/functions";

@import 'layout/setups';
@import 'layout/fonts';

@import 'blocks/**/*.scss';
