@mixin centered($axis: 'both') {
  position: absolute;

  @if ($axis == 'both') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if ($axis == 'x') {
    left: 50%;
    transform: translateX(-50%);
  }

  @if ($axis == 'y') {
    top: 50%;
    transform: translateY(-50%);
  }
}

%fontTitle {
  font-family: 'titleFont';
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

%float50 {
  float: left;
  width: 50%;
}

@mixin desctop {
  @media (max-width: 1799px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}