/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-discount {
  background-image: url(sprite.png);
  background-position: -908px -670px;
  width: 104px;
  height: 104px;
}
.icon-dizain {
  background-image: url(sprite.png);
  background-position: -700px -774px;
  width: 104px;
  height: 104px;
}
.icon-dogovor {
  background-image: url(sprite.png);
  background-position: -700px -670px;
  width: 104px;
  height: 104px;
}
.icon-furnitura {
  background-image: url(sprite.png);
  background-position: -804px -670px;
  width: 104px;
  height: 104px;
}
.icon-giphy {
  background-image: url(sprite.png);
  background-position: 0px -670px;
  width: 700px;
  height: 292px;
}
.icon-guaranty {
  background-image: url(sprite.png);
  background-position: -1012px -670px;
  width: 104px;
  height: 104px;
}
.icon-montaz {
  background-image: url(sprite.png);
  background-position: -208px -962px;
  width: 104px;
  height: 104px;
}
.icon-personal {
  background-image: url(sprite.png);
  background-position: -804px -774px;
  width: 104px;
  height: 104px;
}
.icon-prinyatie-raboti {
  background-image: url(sprite.png);
  background-position: -908px -774px;
  width: 104px;
  height: 104px;
}
.icon-services {
  background-image: url(sprite.png);
  background-position: -1012px -774px;
  width: 104px;
  height: 104px;
}
.icon-srok {
  background-image: url(sprite.png);
  background-position: 0px -962px;
  width: 104px;
  height: 104px;
}
.icon-zamer {
  background-image: url(sprite.png);
  background-position: -104px -962px;
  width: 104px;
  height: 104px;
}
.icon-zootopia-poster {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 1191px;
  height: 670px;
}
