html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 1800px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.l-footer {
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.l-footer {
  margin-top: -190px;
}
.push {
  height: 190px;
}

.push-small {
  height: 80px;
}


//.l-hero__container > img {
//  width: 101%;
//}

