body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.l-hero__container > img {
  width: 101%;
}

.c-user {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-user__pic-container {
  width: 147px;
  height: 147px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;
}

.c-user__pic {
  height: 147px;
}

.c-user__name {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 35px;
}

.c-user__desc{
  font-weight: 100;
  color: #ffffff;
}