html {
  height: 100%;

  @include laptop {
    font-size: 14px;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.content {
  flex: 1 0 auto;
}

.l-footer {
  position: relative;
  flex: 0 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


//.l-hero__container > img {
//  width: 101%;
//}

