extends ../_template

block variables
    - var title = 'Blog'

block content
    .wrapper
        section.l-section.l-hero
            +header("Блог", "Статьи, которые я написал")
        .l-block-main
            .l-about__col.l-about__col_left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").l-about__triangle
                    polygon(points="0,0 0,110 1000,110")
            .l-about__col.l-about__col_left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").l-about__triangle
                    polygon(points="0,110 1000,110 1000,0")
            .l-block-main__container
                main.l-block-main_content
                    article.l-block-article#sass
                        .l-block-article__title Самое важное в SASS
                        .l-block-article__data 22 ноября 2016
                        .l-block-article__content
                            p.l-block-article__par Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p.l-block-article__par Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img.l-block-article__pic
                    article.l-block-article#verstka
                        .l-block-article__title Приёмы в вёрстке, без которых не обходится ни один сайт
                        .l-block-article__data 13 ноября 2016
                        .l-block-article__content
                            p.l-block-article__par Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p.l-block-article__par Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img.l-block-article__pic
                aside.l-page-nav.l-page-nav_aside
                    ul.l-page-nav__list
                        -
                            var navItems = [["Самое важное в SASS", "sass"],
                                            ["Приёмы в вёрсткебез которых не обходится ни один сайт", "verstka"],
                                            ["Самый необходимый набор Gulp плагинов", "#"],
                                            ["Почему я выбрал Jade", "#"]]
                        each navItem in navItems
                            li.l-page-nav__item
                                a(href="#" + `${navItem[1]}`).l-page-nav__link.l-page-nav__link= navItem[0]

        +navigationSite('blog')

        .push
    include partails/_footer


