extends ../_template

block variables
    - var title = 'Blog'

block content
    .wrapper
        section.l-section.l-hero
            include partails/_header_insides
            +header("Блог", "Статьи, которые я написал")
        .l-block-main
            .l-about__col.l-about__col_left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").l-about__triangle
                    polygon(points="0,0 0,110 1000,110")
            .l-about__col.l-about__col_left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").l-about__triangle
                    polygon(points="0,110 1000,110 1000,0")
            .l-block-main__container
                main.l-block-main_content
                aside.l-page-nav.l-page-nav_aside
                    ul.l-page-nav__list
                        -
                            var navItems = [["Самое важное в SASS", "#"],
                                            ["Приёмы в вёрстке", "#"],
                                            ["без которых не обходится ни один сайт", "#"],
                                            ["Самый необходимый набор Gulp плагинов", "#"],
                                            ["Почему я выбрал Jade", "#"]]
                        each navItem in navItems
                            li.l-page-nav__item
                                a(href="#" + `${navItem[1]}`).l-page-nav__link= navItem[0]




        .push
    include partails/_footer


