extends ../_template

block variables
  - var title = 'home'

block content
  .wrapper.l-section_bg
    .content
      .c-block-bg(style="background-image: url('/assets/img/bg/portfolio.jpg');")
      header.l-header-index
        a.c-block-link_to-avtor(href='#') Авторизоваться
      .c-block-info
        include partails/_header_insides
        +user("Валерия Калинина", "Личный сайт веб разработчика", "false")

        +socialIcons("socials_index")
        +nav('block-info', [siteNav.work, siteNav.about, siteNav.blog], '')

    footer.l-footer.l-footer-small © #{userName} | создано с любовью в LoftSchool | 2017







