extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../common/_greating
  a(href="/about.html") About
  br
  a(href="/work.html") work
  br
  a(href="/blog.html") blog