extends ../_template

block variables
    - var title = 'Work'

block content
    .wrapper
        section.l-section.l-hero
            include partails/_header_insides
            .c-page-title



    include partails/_footer





